<html>
<link rel="shortcut icon" href="pico.svg">
{% extends 'bootstrap/base.html' %}
    <head>
	
        {% block title %}{% if title %}
        {{ title }}
        {% else %}
        Testing
        {% endif %}{% endblock %}
    </head>
    <body>
	{% block navbar %}
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ url_for('index') }}">Flaskcards</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("index")}}'>Home</a></li>
					</ul>
					{% if current_user.is_anonymous %}
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("login")}}'>Login</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("register")}}'>Register</a></li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("create_card")}}'>Create</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("delete_card")}}'>Delete</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("list_cards")}}'>List</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href='{{url_for("admin")}}'>Admin</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href='{{url_for("logout")}}'>Logout</a></li>
					</ul>
				</div>
				{% endif %}
			</div>
		</nav>
		{% endblock %}
        
        
        {% block content %}
		<div class="container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			
				{% for message in messages %}
				<span style="color: red">{{ message }}</span>
				{% endfor %}
			
			{% endif %}
			{% endwith %}
			{% block app_content %}{%endblock%}
			</div>
		{% endblock %}
    </body>
</html>