{% extends "base.html" %}


{% block app_content %}
<h1 class="page-header text-capitalize">Welcome {{current_user.username}}</h1>
{% if current_user.admin %}
		<p> Your flag is: {{flag}} </p>
		{% if current_user.id == 1 %}
			
			{% if user_list %}
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" href="#comments">View/Update Comments</a></h4>
					</div>
				<div id="comments" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table" style="width:100%">
						<tr>
							<th>id</th>
							<th>username</th>
							<th>comment</th>
							<th>new comment</th>
						</tr>
						{% for user in user_list %}
							<tr>
							<td>{{user['id']}}</td>
							<td>{{ user['username'] }}</td>
							<td>{{ user['comment'] }}</td>
							<td>
							<div class="form-group">
								<form action="{{url_for('update_comment',user_id=user['id'])}}" method='POST'>
									<input type="text" class="form-control" id="comment" name="comment">
									<input type="submit" class="btn btn-default" value="Change Comment" />
								</form>
							</div></td></tr>
						{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				<p>No other registered users!</p>
			{% endif %}
		{% else %}
		Maybe you should try actually being the admin (user_id 1) 
		{% endif %}

		
{% else %}
		
		<p> Here's your flag: <strong>Denied</strong> - {{flag}} </p>
		

		
{% endif %}

{% endblock %}
